.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: 40px;
  gap: 15px;
}
.login-container h3 {
  color: #828282;
}
.login-container form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-width: 280px;
  color: #828282;
}
.login-container form label {
  display: contents;
}
.login-container form label input {
  padding: 7px;
  border: 1px solid #bdbdbd;
  border-radius: 4px;
}
.login-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login-buttons a {
  color: darkcyan;
}
.submit-login-btn {
  color: darkcyan;
  border: 1px solid darkcyan;
  border-radius: 6px;
  padding: 6px 12px 6px 12px;
  background: #fff;
  cursor: pointer;
}
.reset-buttons {
  display: contents;
}
.submit-reset-btn {
  color: darkcyan;
  border: 1px solid darkcyan;
  border-radius: 6px;
  padding: 6px 12px 6px 12px;
  background: #fff;
  cursor: pointer;
  align-self: flex-end;
}
.submit-reset-btn:hover {
  color: #fff;
  background: darkcyan;
}
.submit-login-btn:hover {
  color: #fff;
  background: darkcyan;
}

.forgot-password {
  margin: 0;
  align-self: flex-end;
  color: darkcyan;
}
