/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.main-page-container {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 10px;
}

.order-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding: 10px 5px;
  gap: 10px;
}
.order-card-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 10px 0px 10px 0px;
  padding-left: 10px;
  padding-right: 10px;
}
.order-card-row-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-preferred-size: 175px;
  flex-basis: 175px;
}
.label {
  -ms-flex-preferred-size: 50px;
  flex-basis: 50px;
  padding-right: 10px;
}
.location {
  padding-left: 0px;
}
.calendar {
  padding-left: 0px;
}
.user svg {
  width: 20px;
  height: 20px;
}
.order-card-manager-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  padding-right: 10px;
}
.manager-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  background: #ffffff;
  cursor: pointer;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.share-order {
  border: none;
  color: #828282;
}
.timelapse {
  font-size: 12px;
}
.color-red {
  color: #d73535;
}
.color-grey {
  color: #828282;
}
.main-theme-color {
  color: #00b0c7;
}
.take-order {
  border: 1px solid;
  border-radius: 5px;
  padding: 3px 12px;
}
.team-dropdown * {
  height: auto;
}
.team-dropdown {
  padding-top: 5px;
  position: fixed;
  background: #fff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}
.team-dropdown ul {
  list-style: none;
  grid-gap: 10px;
  gap: 10px;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.team-dropdown ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 15px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 10px;
  padding: 5px 12px 5px 12px;
  font-weight: 600;
}
.team-dropdown ul li:hover {
  background: rgba(0, 0, 0, 0.15);
}
.team-dropdown ul li img {
  width: 35px;
  border-radius: 50%;
}
@media screen and (max-width: 700px) {
  .order-card-row-item,
  .order-card-manager-row {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .order-card-row {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.welcome-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
}
.security-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
