.main-workarea {
  display: flex;
  flex-direction: row;
  /* margin-top: 90px; */
}

.left-side {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.right-side {
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: -webkit-fill-available;
}

.left-side-info-panel {
  min-width: 165px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 13px;
  gap: 3px;
  background: rgba(230, 106, 225, 0.17);
  box-shadow: 2px 4px 4px rgba(148, 147, 147, 0.25);
  border-radius: 8px;
}
.heading-info-panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 10px 10px 16px;
  gap: 32px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.heading-info-panel h4 {
  width: 101px;
  height: 15px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 15px;
  color: #4f4f4f;
}
.heading-info-panel svg {
  width: 20px;
  height: 20px;
  color: #bdbdbd;
}
.info-row {
  background: transparent;
  border: none;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  width: -webkit-fill-available;
}
.info-row p {
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  color: #828282;
  flex-shrink: 0;
}
.info-row span {
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
}
.main-theme-color {
  color: #00b0c7;
}
.red-theme-color {
  color: #d73535;
}
.green-theme-color {
  color: #219653;
}
.blue-theme-color {
  color: #2f80ed;
}
/* .right-side-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 19px 0px 12px;
  gap: 33px;
}
.filter-buttons-section {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.right-side-button-ico {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 10px;
  gap: 5px;
  cursor: pointer;
  color: #00b0c7;
  border: none;
  background: transparent;
}
.right-side-button-ico svg {
  width: 20px;
  height: 20px;
}
.right-side-nav-btn {
  cursor: pointer;
  padding: 6px 10px;
  flex-shrink: 0;
  background: #e66ae1;
  border: 1px solid #e66ae1;
  color: #ffffff;
  border-radius: 6px;
  font-size: clamp(12px, 13px, 14px);
  font-weight: 600;
}
.right-side-nav-btn:hover {
  color: #e66ae1;
  background: #fff;
}
.btn-active {
  color: #e66ae1;
  background: #fff;
}
.checkbox-custom {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.checkbox-custom + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.checkbox-custom + label::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.checkbox-custom:checked + label::before {
  border-color: #00b0c7;
  background-color: #00b0c7;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
a {
  text-decoration: none;
}
.checkbox-label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #4f4f4f;
}
.buttons-right-side-nav {
  display: flex;
  gap: 20px;
} */
@media screen and (max-width: 900px) {
  .heading-info-panel {
    gap: 0;
  }
  .main-workarea {
    flex-direction: column;
  }
  .left-side-info-panel {
    flex-direction: row;
    justify-content: space-around;
  }
  .info-row {
    flex-direction: column;
  }
  .right-side-nav-btn {
    padding: 4px 12px;
    font-size: 12px;
  }
  .filter-buttons-section label {
    font-size: 12px;
  }
  .right-side-buttons {
    gap: 10px;
  }
}
@media screen and (max-width: 800px) {
  .info-row {
    width: auto;
  }
  .right-side-buttons {
    flex-direction: column;
  }
  .filter-buttons-section {
    gap: 10px;
    width: -webkit-fill-available;
    justify-content: space-between;
  }
  .buttons-right-side-nav {
    gap: 20px;
  }
}
